<h1>Additional Account Information</h1>
<%=  bootstrap_form_for @user, url: user_settings_update_path do |f|  %>
<%= label_tag(:phone_number, "Phone Number") %>
<%= text_field_tag(:phone_number) %>
<%= f.select(:slack_default_channel, @channels.map { |channel| channel["name"] }) %>
<button class="btn btn-primary">Save</button>
<% end %>
